*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.hprof
*.apk
*.ap_
*.aab
*.jks
*.keystore
captures/
.output.json
.output.json
*.log
.navigation/
*.swp
*.swo
*~
.gradle/
gradle-app.setting
!.gradle/
!gradle-wrapper.jar
!.idea/
!.idea/caches/
!.idea/libraries/
!.idea/modules.xml
!.idea/workspace.xml
!.idea/navEditor.xml
!.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/dictionaries
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/modules/
.idea/.name
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/deploymentTargetDropDown.xml
.idea/render.experimental.xml
.idea/vcs.xml
.idea/usage.statistics.xml
.idea/shelf/
!.idea/shelf/Uncommitted_changes_default.xml__Default_shelf/
!.idea/tasks.xml
.idea/inspectionProfiles/
.idea/scopes/
.idea/jsLibraryMappings.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/libraries/
.idea/mongoSettings.xml
.idea/jarRepositories.xml